.header-description {
    font-family: Georgia Italic;
    font-size: 10px;
    color: #999999;
    margin-left: 30px;
    leading: 2px;
}

.body {
    font-family: Georgia Italic;
    font-size: 12px;
    color: #999999;
    margin-left: 30px;
    leading: 2px;
}

.footer {
    font-family: Georgia Italic;
    font-size: 10px;
    color: #999999;
    margin-left: 30px;
    leading: 2px;
}

.nav {
    font-family: Georgia Italic;
    font-size: 18px;
    color: #999999;
    margin-left: 30px;
}

.nav-alpha {
    font-family: Georgia Italic;
    font-size: 18px;
    color: #ffffff;
    margin-left: 30px;
}

a {
    font-family: Georgia Italic;
    /*font-size: 18px;*/
    color: #999999;
}

a:hover {
    font-family: Georgia Italic;
    /*font-size: 18px;*/
    color: #6e6e6e;
}

a.small {
    font-family: Georgia Italic;
    font-size: 8px;
    color: #999999;
    margin-left: 30px;
}

.title-label {
    font-family: Georgia Italic;
    font-size: 34px;
    color: #999999;
    margin-left: 30px;
}

.gallery-id {
    font-family: Georgia Italic;
    font-size: 8px;
    color: #999999;
    margin-left: 30px;
}

.gallery-title {
    font-family: Georgia Italic;
    font-size: 16px;
    color: #999999;
    margin-left: 30px;

}

.gallery-description {
    font-family: Georgia Italic;
    font-size: 12px;
    color: #999999;
    margin-left: 30px;
}

.gallery-link {
    font-family: Georgia Italic;
    font-size: 18px;
    color: #999999;
    margin-left: 700px;
}

